# All variable names must start with VITE_
# When adding/removing variables, remember to also update them in './src/vite-env.d.ts' and './src/config.ts'
# https://vitejs.dev/guide/env-and-mode.html

VITE_APP_NAME="Holiday Planner"
VITE_API_HOST="http://localhost:5000"
VITE_I18N_DEBBUG=false